* { 
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #222;
  background: #f7f5f0;
}

header {
  text-align: center;
  background: url('images/city.jpg') no-repeat top center;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}

.profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
}

.nametag {
  background-color: #efefef;
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
}

.card {
  margin: 20px auto;
  padding: 20px 40px;
  max-width: 500px;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}

.card-header {
  text-align: center;
}